<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<!-- Configuraciones para el servicio -->
		<add key="ApiUrl" value="URL_DE_TU_API"/>
		<add key="ApiJsonPayload" value="TU_JSON"/>
		<add key="LogFilePath" value="C:\\Ruta\\Completa\\Del\\Archivo\\MyApiServiceLog.txt"/>
		<add key="ToEmailAddress" value="dnanculeo@asysa.cl"/>
		<add key="SmtpServer" value="smtp.gmail.com"/>
		<add key="SmtpPort" value="587"/>
		<add key="SmtpUsername" value="app@informes.asysa.cl"/>
		<add key="SmtpPassword" value="bre3YbipPbvt"/>
	</appSettings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
